<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Student</title>
</head>
<body>
<h1>Display Student List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <th:block th:each="student : ${students}">
        <span th:if="${student.email} != 'codeleanvn@gmail.com'">
        <tr>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
        </tr>
        </span>
    </th:block>
</table>
</body>
</html>